body { 
  font-family: sans-serif; 
  background-image:repeating-linear-gradient(rgb(240, 250, 255),rgb(249, 243, 233));
  background-attachment: fixed;
  color: #343434;}
  
header {  
  color: #FFFFFF; 
  background-repeat: no-repeat;
  line-height: 400%;}

label {
  vertical-align: top;
  width: 200px;
  font-weight: bold;}

#button {
  background-color: #4c98af;
    border: none;
    color: white;
    padding: 10px 38px;
    display: inline-block;
    margin: 20px 10px 45px 0px;
    text-align: center;
    font-size: 16px;
    cursor:pointer;
    border-radius:5px;
}

nav {
  text-align: center;
  color: #90C7E3; 
  font-weight: bold;}

a {text-decoration: none}

div>h2 {
  color: #001552;
  text-align:left;
  font-family:sans-serif;
  font-weight: bold;}

#project {
    border: 3px solid #7b7b7b;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px #95959554;}

footer {
  color: #575757;
  background-color: transparent;
  padding: 0.5em;}

#parent{
  display: flex;
  grid-template-columns: 120px 120px 120px;
  justify-content: space-between;}
 
.left{
  margin-right: 20px;
}

.right{
  margin-left: 20px;
  }

#service {
  border: 3px solid #7b7b7b;
  border-radius: 20px;
  padding: 30px;
  text-align: center;}

#service > h2 {
  text-align: center;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;}

#myimage{
   margin-top:15px;
   margin-bottom:15px;}